@use './shadow';

%cardWithoutShadow {

  padding-block: var(--spacingBlock);
  padding-inline: var(--containerInline);
  background: var(--backgroundElevated);
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
}

%card {
  @extend %cardWithoutShadow;
  @extend %boxShadow;
}
