@use './shadow';
@use './spacing';
@use './rounded';

%cardWithoutShadow {
  @extend %spacingContainer;
  @extend %corner;

  padding-block: var(--spacingBlock);
  background: var(--backgroundElevated);
  border: 1px solid var(--borderColor);
}

%card {
  @extend %cardWithoutShadow;
  @extend %boxShadow;
}
