:root {
  // Colors
  --backgroundColor: white;
  --backgroundElevated: white;

  --textColor: black;
  --textMuted: #333;

  --borderColor: color-mix(in oklch, var(--textColor), var(--backgroundElevated) 95%);

  --success: green;
  --warning: orange;
  --error: red;
}
