:root {
  // Colors
  --backgroundColor: white;
  --backgroundElevated: white;

  --textColor: black;
  --textMuted: #333;

  --borderColor: #e0e0e0;

  --success: #2b6456;
  --warning: #a14c09;
  --error: #c1331b;
}
