@use './themes/light';
@use './themes/dark';

:root {
  // Fonts
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  // Container
  --containerInline: 1rem;
  --containerMaxWidth: 40rem;

  // Spacing
  --spacingInline: 1rem;
  --spacingBlock: 0.75rem;

  // Gaps
  --gap: 0.5rem;

  // Radius
  --borderRadius: 0.5rem;
  --borderRadiusContainer: 2rem;
  --borderRadiusRounded: 99rem;

  // Transitions
  --transitionDuration: 150ms;
  --transitionTimingFunction: linear;
  --transition: var(--transitionDuration) var(--transitionTimingFunction);

  --bouncingDuration: 400ms;
  --bouncingTimingFunction: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  --bouncingTransition: var(--bouncingDuration) var(--bouncingTimingFunction);
}
