@use './reset';
@use './theme';

@use './transition';

@use './directives/bouncy';

@use './placeholders/typography';

html,
body {
  @extend %body;

  background: var(--backgroundColor);
  color: var(--textColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  interpolate-size: allow-keywords;
}

::selection {
  background: var(--textColor);
  color: var(--backgroundColor);
}
